# Исследование надежности заемщиков

## Описание проекта

Цель исследования: необходимо понять, как влияет семейное положение и количество детей клиента на факт погашения кредита в срок. Для исследования будет использоваться таблица от банка с вводными данными
План по исследованию: предобработать данные, то есть убрать/заполнить пропуски и дубликаиы, разделить клиентов банка по группам - по сумме дохода, по цели приобретения кредита; построить таблицы с долей задолжников по уровню дохода, по количеству детей, по цели получения кредита.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [ ]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
data_pivor_child = data.pivot_table(index = ['children'], values = 'debt', aggfunc = {'count','sum'})
data_pivor_child = data_pivor_child.rename(columns={'count': 'total', 'sum': 'count_debt'})
data_pivor_child['ratio'] = round(data_pivor_child['count_debt'] / data_pivor_child['total'], 3)
data_pivor_child.sort_values('ratio', ascending=False)

          total  count_debt  ratio
children
4            41           4  0.098
2          2052         194  0.095
1          4808         444  0.092
3           330          27  0.082
0         14091        1063  0.075
5             9           0  0.000

**Вывод:** Корреляция прослеживается. Высокая доля должников находится в категориях с 1, 2 и 4 детьми. Это может говорить о том, что в таких семьях более финансово нестабильны. У людей с детьми становится больше потребностей и трат, из-за чего, возможно, у них пропадает возможность вернуть кредит в срок. Данный вывод также можно обоснавать на основе доли должников, которые не имеют детей - их самая низкая доля.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
data_pivor_fam = data.pivot_table(index = ['family_status'], values = 'debt', aggfunc = {'count','sum'})
data_pivor_fam = data_pivor_fam.rename(columns={'count': 'total', 'sum': 'count_debt'})
data_pivor_fam['ratio'] = round(data_pivor_fam['count_debt'] / data_pivor_fam['total'], 3)
data_pivor_fam.sort_values('ratio', ascending=False)

                       total  count_debt  ratio
family_status
Не женат / не замужем   2796         273  0.098
гражданский брак        4134         385  0.093
женат / замужем        12261         927  0.076
в разводе               1189          84  0.071
вдовец / вдова           951          63  0.066

**Вывод:** Корреляция прослеживается. Высокий показатель у клиентов, которые не состоят и не состояли в браке, самый низкий у вдовцов. Это может говорить о том, что в таком случае у клиентов стоит рассматривать не только семейный статус, но и соответсвующие признаки, такие как: возраст, финансовое положение, наличие детей.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
data_pivor_inc = data.pivot_table(index = ['total_income_category'], values = 'debt', aggfunc = {'count','sum'})
data_pivor_inc = data_pivor_inc.rename(columns={'count': 'total', 'sum': 'count_debt'})
data_pivor_inc['ratio'] = round(data_pivor_inc['count_debt'] / data_pivor_inc['total'], 3)
data_pivor_inc.sort_values('ratio', ascending=False)

                       total  count_debt  ratio
total_income_category
E                         22           2  0.091
C                      15921        1353  0.085
A                         25           2  0.080
B                       5014         354  0.071
D                        349          21  0.060

**Вывод:** Корреляция прослеживается. Клиенты с самым низким доходом - до 30 тыс и менее - самый высокий показатель соотношения между кредитом и просроченным кредитом. Самый низкий показатель следующей группы по уровню дохода - D - среди них меньше людей, которые имели задолженность. Стоит отметить, что группа людей с доходом типа А берут меньше кредитов, но имеют более высокий показатель в колонке `ratio`. Среди группы C кредит популярнее всего.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
data_pivor_point = data.pivot_table(index = ['purpose_category'], values = 'debt', aggfunc = {'count','sum'})
data_pivor_point = data_pivor_point.rename(columns={'count': 'total', 'sum': 'count_debt'})
data_pivor_point['ratio'] = round(data_pivor_point['count_debt'] / data_pivor_point['total'], 3)
data_pivor_point.sort_values('ratio', ascending=False)

                          total  count_debt  ratio
purpose_category
операции с автомобилем     4279         400  0.093
получение образования      3988         369  0.093
проведение свадьбы         2313         183  0.079
операции с недвижимостью  10751         780  0.073

**Вывод:** У клиентов, которые нуждаются в создании семьи, т.е. покупка недвижимости или проведение свадьбы, ниже показатели по соотношению, в соответствии с этим, можно предположить, что такие клиенты более платежеспособные и финансово обеспеченные. У группы людей, которые берут кредит на более потребительские вещи, такие как машина или образование, возможно, более нестабильное финансовое положение.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Ошибки сотрудников при подготовки исходной таблицы, нежелание заполнять информацию о себе пользователями, также есть зависимые между собой колонки. Пропуски находились в `total_income` и `days_employed`, это говорит о том, ято одна колонка заполнялась в зависимости от другой.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В таблице мы можем сгруппировать определеные значения по группам. Поэтому на основе них мы можем взять медианное значение среди групп и заполнить пропуски. Среднее арифметическое отражает ситуацию некорректно, так как не учитывает разброс данных.

### Шаг 4: общий вывод.

    В процессе анализа была произведена предобработка данных: поиск и обработка дубликатов и пропусков. Пропуски были заполненный медианными значениями для корректных дальшейших расчетов. Также в таблице клиенты были разделены на группы - по доходам и целе кредита.
    По ходу проведения анализа не выявилось сильной карреляции между типами клиентов и неуплата кредита в срок. Но стоит сказать, что некоторые группы людей выделяются среди остальных, в таком случае, если соединить показатели нескольких сводных таблиц, то, возможно, можно будет прийти к более точному выводу. Например, ситуация с  клиентом, который берет кредит на машину и имеет доход менее 30 тыс. рублей, может сказать о том, что с высокой вероятностью он не сможет вернуть долг в положенный срок, и наоборот, в ситуации с более дорогими покупками, такие как недвижимость, и людей, который уже были или находятся в браке, вероятность неуплаты задолженности в положенный срок становится ниже.